
#placeholder#batch-options.box
  %h2 Batch Options:
  %span#batch-template
    = select_tag 'template_id', options_for_select(@templates.collect{|c| [c.title, c.id]}.insert(0,"Template"))
  %span#batch-layout
    = select_tag 'main_column_id', options_for_select(@layouts.collect{|c| [c.title, c.id]}.insert(0,"Layout"))
  %span#batch-master-layout
    = select_tag 'master_layout_id', options_for_select(@master_layouts.collect{|c| [c.title, c.id]}.insert(0,"Master Layout"))
  %span.submit
    = submit_tag "Update Selected Pages"
